# Prediction of sales

### Problem Statement
[The dataset](https://drive.google.com/file/d/1B07fvYosBNdIwlZxSmxDfeAf9KaygX89/view?usp=sharing) represents sales data for 1559 products across 10 stores in different cities. Also, certain attributes of each product and store are available. The aim is to build a predictive model and find out the sales of each product at a particular store.

|Variable|Description|
|: ------------- |:-------------|
|Item_Identifier|Unique product ID|
|Item_Weight|Weight of product|
|Item_Fat_Content|Whether the product is low fat or not|
|Item_Visibility|The % of total display area of all products in a store allocated to the particular product|
|Item_Type|The category to which the product belongs|
|Item_MRP|Maximum Retail Price (list price) of the product|
|Outlet_Identifier|Unique store ID|
|Outlet_Establishment_Year|The year in which store was established|
|Outlet_Size|The size of the store in terms of ground area covered|
|Outlet_Location_Type|The type of city in which the store is located|
|Outlet_Type|Whether the outlet is just a grocery store or some sort of supermarket|
|Item_Outlet_Sales|Sales of the product in the particulat store. This is the outcome variable to be predicted.|

Please note that the data may have missing values as some stores might not report all the data due to technical glitches. Hence, it will be required to treat them accordingly.



### Explore the problem in following stages:

1. Hypothesis Generation – understanding the problem better by brainstorming possible factors that can impact the outcome
2. Data Exploration – looking at categorical and continuous feature summaries and making inferences about the data.
3. Data Cleaning – imputing missing values in the data and checking for outliers
4. Feature Engineering – modifying existing variables and creating new ones for analysis
5. Model Building – making predictive models on the data

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
#Read files:
data = pd.read_csv("regression_exercise.csv", delimiter=',')

In [2]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
data['Item_Fat_Content'] = data['Item_Fat_Content'].replace('Low Fat', 'LF', regex=True)
data['Item_Fat_Content'] = data['Item_Fat_Content'].replace('low fat', 'LF', regex=True)
data['Item_Fat_Content'] = data['Item_Fat_Content'].replace('Regular', 'reg', regex=True)

In [4]:
data['Item_Fat_Content'].value_counts()

LF     5517
reg    3006
Name: Item_Fat_Content, dtype: int64

In [5]:
# missing data
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                           Total   Percent
Outlet_Size                 2410  0.282764
Item_Weight                 1463  0.171653
Item_Outlet_Sales              0  0.000000
Outlet_Type                    0  0.000000
Outlet_Location_Type           0  0.000000
Outlet_Establishment_Year      0  0.000000
Outlet_Identifier              0  0.000000
Item_MRP                       0  0.000000
Item_Type                      0  0.000000
Item_Visibility                0  0.000000
Item_Fat_Content               0  0.000000
Item_Identifier                0  0.000000

In [6]:
data['Outlet_Size'] = data['Outlet_Size'].fillna(data['Outlet_Size'].value_counts().index[0])

In [7]:
# missing data
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                           Total   Percent
Item_Weight                 1463  0.171653
Item_Outlet_Sales              0  0.000000
Outlet_Type                    0  0.000000
Outlet_Location_Type           0  0.000000
Outlet_Size                    0  0.000000
Outlet_Establishment_Year      0  0.000000
Outlet_Identifier              0  0.000000
Item_MRP                       0  0.000000
Item_Type                      0  0.000000
Item_Visibility                0  0.000000
Item_Fat_Content               0  0.000000
Item_Identifier                0  0.000000

In [8]:
data['Item_Weight'] = data['Item_Weight'].fillna(data['Item_Weight'].median())

In [9]:
# missing data
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                           Total  Percent
Item_Outlet_Sales              0      0.0
Outlet_Type                    0      0.0
Outlet_Location_Type           0      0.0
Outlet_Size                    0      0.0
Outlet_Establishment_Year      0      0.0
Outlet_Identifier              0      0.0
Item_MRP                       0      0.0
Item_Type                      0      0.0
Item_Visibility                0      0.0
Item_Fat_Content               0      0.0
Item_Weight                    0      0.0
Item_Identifier                0      0.0

In [10]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,reg,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,reg,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

## 4. Feature Engineering

1. Resolving the issues in the data to make it ready for the analysis.
2. Create some new variables using the existing ones.

### Create a broad category of Type of Item

Item_Type variable has many categories which might prove to be very useful in analysis. Look at the Item_Identifier, i.e. the unique ID of each item, it starts with either FD, DR or NC. If you see the categories, these look like being Food, Drinks and Non-Consumables. Use the Item_Identifier variable to create a new column

In [11]:
data['Type'] = data['Item_Identifier'].str[0:2]
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Type
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,FD
1,DRC01,5.92,reg,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,DR
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,FD
3,FDX07,19.20,reg,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,FD
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,NC

### Determine the years of operation of a store

Make a new column depicting the years of operation of a store (i.e. how long the store exists).

### Modify categories of Item_Fat_Content

There are difference in representation in categories of Item_Fat_Content variable. This should be corrected.

There are some non-consumables as well and a fat-content should not be specified for them. Create a separate category for such kind of observations.

In [12]:
conditions = [
    (data['Type'] == 'NC') & (data['Item_Fat_Content'] == 'reg'),
    (data['Type'] == 'NC') & (data['Item_Fat_Content'] == 'LF'),
    (data['Type'] != 'NC')
    ]

# create a list of the values we want to assign for each condition
values = [1, 1, 0]

# create a new column and use np.select to assign values to it using our lists as arguments
data['faulty'] = np.select(conditions, values)

# display updated DataFrame
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Type,faulty
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,FD,0
1,DRC01,5.92,reg,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,DR,0
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,FD,0
3,FDX07,19.20,reg,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,FD,0
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,NC,1

In [13]:
data.Item_Type.value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [14]:
data.Outlet_Size.value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [15]:
data.Outlet_Location_Type.value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [16]:
data.Outlet_Type.value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [17]:
data.Type.value_counts()

FD    6125
NC    1599
DR     799
Name: Type, dtype: int64

### Numerical and One-Hot Encoding of Categorical variables

Since scikit-learn algorithms accept only numerical variables, we need to convert all categorical variables into numeric types. 

- if the variable is Ordinal we can simply map its values into numbers
- if the variable is Nominal (we cannot sort the values) we need to One-Hot Encode them --> create dummy variables

In [18]:
#pd.get_dummies(data['Item_Type'], prefix='Item_Type')
data = pd.concat([data,pd.get_dummies(data['Item_Type'], prefix='Item_Type')],axis=1)
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,...,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,Item_Type_Health and Hygiene,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,0,0,0,0,0,0,0,0,0,0
1,DRC01,5.92,reg,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,...,0,0,0,0,0,0,0,0,1,0
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,...,0,0,0,0,1,0,0,0,0,0
3,FDX07,19.20,reg,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,...,0,0,0,1,0,0,0,0,0,0

In [19]:
data["Outlet_Size_numeric"] = data['Outlet_Size'].apply(lambda x: 0 if x=='Small' else (1 if x=='Medium' else 2))
data["Outlet_Location_Type_numeric"] = data['Outlet_Location_Type'].apply(lambda x: 1 if x=='Tier 1' else (2 if x=='Tier 2' else 3))
data["Outlet_Type_numeric"] = data['Outlet_Type'].apply(lambda x: 0 if x=='Grocery Store' else (1 if x=='Supermarket Type1' else (2 if x=='Supermarket Type2' else 3)))
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,...,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_numeric,Outlet_Location_Type_numeric,Outlet_Type_numeric
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,0,0,0,0,0,0,0,1,1,1
1,DRC01,5.92,reg,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,...,0,0,0,0,0,1,0,1,3,2
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,...,0,1,0,0,0,0,0,1,1,1
3,FDX07,19.20,reg,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,...,0,0,0,0,0,0,0,1,3,0
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,...,1,0,0,0,0,0,0,2,3,1

In [20]:
data.dtypes

Item_Identifier                     object
Item_Weight                        float64
Item_Fat_Content                    object
Item_Visibility                    float64
Item_Type                           object
Item_MRP                           float64
Outlet_Identifier                   object
Outlet_Establishment_Year            int64
Outlet_Size                         object
Outlet_Location_Type                object
Outlet_Type                         object
Item_Outlet_Sales                  float64
Type                                object
faulty                               int64
Item_Type_Baking Goods               uint8
Item_Type_Breads                     uint8
Item_Type_Breakfast                  uint8
Item_Type_Canned                     uint8
Item_Type_Dairy                      uint8
Item_Type_Frozen Foods               uint8
Item_Type_Fruits and Vegetables      uint8
Item_Type_Hard Drinks                uint8
Item_Type_Health and Hygiene         uint8
Item_Type_Household                  uint8
Item_Type_Meat                       uint8
Item_Type_Others                     uint8
Item_Type_Seafood                    uint8
Item_Type_Snack Foods                uint8
Item_Type_Soft Drinks                uint8
Item_Type_Starchy Foods              uint8
Outlet_Size_numeric                  int64
Outlet_Location_Type_numeric         int64
Outlet_Type_numeric                  int64
dtype: object

In [28]:
y = pd.DataFrame(data.select_dtypes(include=['int64','float64','uint8']))
y.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,faulty,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,...,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_numeric,Outlet_Location_Type_numeric,Outlet_Type_numeric
0,9.30,0.016047,249.8092,1999,3735.1380,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
1,5.92,0.019278,48.2692,2009,443.4228,0,0,0,0,0,...,0,0,0,0,0,1,0,1,3,2
2,17.50,0.016760,141.6180,1999,2097.2700,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,1
3,19.20,0.000000,182.0950,1998,732.3800,0,0,0,0,0,...,0,0,0,0,0,0,0,1,3,0
4,8.93,0.000000,53.8614,1987,994.7052,1,0,0,0,0,...,1,0,0,0,0,0,0,2,3,1

All variables should be by now numeric

### Exporting Data
you can save the processed data to disk

In [30]:
y.to_csv(r'/home/ganesh/Documents/y.csv', index = False)